body {
    /* background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 7px 7px;
    background-image: repeating-linear-gradient(45deg, #f645f7 0, #f645f7 0.7000000000000001px, #e5e5f7 0, #e5e5f7 50%); */
    background-color: #fae596;
}

